<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="file" fileName="log/testoutput.log" append="false">
            <PatternLayout pattern="%d{YYYY-MM-DD HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="TRACE">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
    </loggers>
</configuration>